.advantages {
  padding: 110px 83px 90px;
  background: $solitude no-repeat;
  background-image: url("../img/content/advantages-background.jpg");
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/content/advantages-background@2x.jpg");
  }
}

.advantages h2 {
  font-weight: 600;

  @include text(28px, 42px);
  color: $tangaroa;
  margin: 0 auto;
  margin-bottom: 50px;
  width: fit-content;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.advantages__list li {
  width: 33.3%;
  margin-bottom: 30px;
}

.advantages__item-wrapper {
  background-color: $alice-blue;
  margin: 0 20px;
  padding: 80px 30px 25px;
  box-sizing: border-box;
  height: 100%;
  position: relative;

  &--liner::before,
  &--all-inclusive::before,
  &--zodiac::before {
    position: absolute;
    display: block;
    content: "";
    left: 30px;
    background-repeat: no-repeat;
  }

  &--liner::before {
    background-image: url("../img/svg/liner-icon.svg");

    @include sizes(27px, 32px);
    top: 30px;
  }

  &--all-inclusive::before {
    background-image: url("../img/svg/all-inclusive-icon.svg");

    @include sizes(38px, 21px);
    top: 35px;
  }

  &--zodiac::before {
    background-image: url("../img/svg/zodiac-icon.svg");

    @include sizes(42px, 15px);
    top: 40px;
  }
}

.advantages__list h3 {
  font-weight: 500;

  @include text(18px, 27px);
  color: $tangaroa;
  margin: 0;
  margin-bottom: 10px;
}

.advantages__list p {
  @include text(14px, 20px);
  color: $tangaroa;
  margin: 0;
}

@include vp-1365 {
  .advantages {
    padding: 87px 30px 70px;
  }

  .advantages h2 {
    @include text(26px, 39px);
  }

  .advantages__list li {
    width: 33.3%;
  }

  .advantages__item-wrapper {
    background-color: $alice-blue;
    margin: 0 15px;
    padding: 70px 10px 20px 25px;

    &--liner::before,
    &--all-inclusive::before,
    &--zodiac::before {
      left: 25px;
    }

    &--liner::before {
      background-image: url("../img/svg/liner-icon-tablet.svg");

      @include sizes(21px, 26px);
      top: 25px;
    }

    &--all-inclusive::before {
      background-image: url("../img/svg/all-inclusive-icon-tablet.svg");

      @include sizes(33px, 19px);
      top: 30px;
    }

    &--zodiac::before {
      background-image: url("../img/svg/zodiac-icon-tablet.svg");

      @include sizes(38px, 13px);
      top: 35px;
    }
  }

  .advantages__list h3 {
    @include text(18px, 25px);
  }
}

@include vp-767 {
  .advantages {
    padding: 65px 15px;
  }

  .advantages h2 {
    @include text(24px, 36px);
    margin-bottom: 40px;
  }

  .advantages__list li {
    width: 100%;
  }

  .advantages__item-wrapper {
    margin: 0;
    padding: 76px 20px 25px;
  }

  .advantages__list h3 {
    @include text(18px, 25px);
  }
}
