.tour {
  padding: 120px 103px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.tour__wrapper {
  width: 50%;

  &:first-child {
    padding-right: 88px;
  }
}

.tour h2 {
  margin: 55px 0 25px 0;
  font-weight: 600;

  @include text(28px, 42px);
  color: $tangaroa;
}

.tour p {
  margin: 0;
  margin-bottom: 40px;

  @include text(16px, 24px);
}

.tour img {
  @include sizes(560px, 301px);
  margin: 0 auto;
  display: block;
}

@include vp-1365 {
  .tour {
    padding: 90px 50px 55px;
  }

  .tour__wrapper {
    &:first-child {
      padding-right: 0;
    }

    &:last-child {
      padding-left: 20px;
      box-sizing: border-box;
      padding-top: 10px;
    }
  }

  .tour h2 {
    margin: 0;
    margin-bottom: 15px;

    @include text(26px, 36px);
    max-width: 300px;
  }

  .tour img {
    @include sizes(324px, 264px);
  }
}

@include vp-767 {
  .tour {
    padding: 65px 15px;
    flex-wrap: wrap;
  }

  .tour__wrapper {
    width: 100%;

    &:last-child {
      padding-left: 0;
    }
  }

  .tour h2 {
    @include text(24px, 34px);
  }

  .tour img {
    @include sizes(290px, 186px);
  }
}
