@mixin retina {
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    @content;
  }
}

@mixin vp-1365 {
  @media (max-width: 1365px) {
    @content;
  }
}

@mixin vp-767 {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin font-family {
  font-family: "Montserrat", "Arial", sans-serif;
}

@mixin default-text {
  color: $tangaroa;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
}

@mixin sizes($width, $height) {
  width: $width;
  height: $height;
}

@mixin text($font-size, $line-height) {
  font-size: $font-size;
  line-height: $line-height;
}
